# ===============================
# Python bytecode & cache
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# ===============================
# Virtual environments
# ===============================
venv/
.env/
.venv/
env/

# ===============================
# Editors / OS files
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# Logs & local outputs
# ===============================
output/*.log

# ===============================
# Vector Databases (ChromaDB)
# ===============================
output/vector_db/
output/vector_db/chroma/

# ===============================
# Environment variables
# ===============================
.env

users.db
data/
scripts/preprocessing/
